﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h3>Hvordan bruger jeg skabelonen til et nyt projekt?</h3>
<ul>
    <li>Tilpas Solution-folderens navn</li>
    <li>Åbn Solution</li>
    <li>Rename Solution og Project navne i Solution Explorer (må gerne hedde det samme)</li>
    <li>Åbn Startup.cs og rename namespace. Acceptér alle ændringer.</li>
    <li>Rebuild Solution</li>
    <li>Luk Solution ned og åbn igen, så NuGet pakkerne laver Restore</li>
</ul>